@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Oswald:wght@400;600;700&family=Passion+One:wght@400;700&display=swap');

*{
    box-sizing: border-box !important;
}
body {
    font-family: 'Lato';
    background-color: #333333;
}
